

.background {
  background-image: url("/src/backGroundImg.jpg");
  background-size: cover;
  background-position: center center;
  height: calc(200vh - 200px);
  min-height: 420px;
}
.header {
  background-color: #28065e;
  text-align: center; 
  position: fixed; 
  z-index: 20; 
  width: 100%; 
  color: #f1ede9; 
  font-size: 40px;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}


